body {
    margin:0
}
.image-flex {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto 90px;
    background-color: #fff;
    margin-bottom: -5px;
}

.quotes {
    font-size: 45px;
    width:700px;
} 

.biography {
    font-size: 18px;
    margin:auto 400px;
    line-height: 25px;
    color:#fff;
}